* { margin: 0; padding: 0; 
    box-sizing: border-box; 
    font-family: Arial, sans-serif; }
body { background: #0E0E0E; 
    color: #faf5f5; }
header { padding: 20px 40px; 
    display: flex; justify-content: space-between; 
    align-items: center; background: #0E0E0E; 
    box-shadow: 0 6px 20px rgb(245, 243, 243) }
header h1 { font-size: 24px; 
    font-weight: bold; 
    color: #9D3554;}
nav a { margin-left: 20px; 
    text-decoration: none; 
    color: #fff; 
    font-weight: 700; }


.hero { display: flex; align-items: center; 
    justify-content: space-between; 
    padding: 60px 40px; }
.hero-text { max-width: 50%; }
.hero-text h2 { font-size: 40px; 
    font-weight: bold; 
    margin-bottom: 10px; }
.hero-text p { font-size: 18px; 
    margin-bottom: 20px; }
.hero-text button { padding: 12px 25px; 
    background: #9D3554; color: #fff; 
    border: none; border-radius: 6px; cursor: pointer; }
.hero-img img { width: 700px; border-radius: 12px; }


.section { padding: 60px 40px; }
.section h3 { font-size: 28px; margin-bottom: 20px; }


.projects { display: grid; 
    grid-template-columns: repeat(3, 1fr); gap: 20px; }
.project-card { background: #9D3554; 
    padding: 20px; border-radius: 12px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); }
.project-card h4 { margin-bottom: 10px; }
.project-card p { font-size: 15px; margin-bottom: 10px; }


footer { padding: 40px; background: #000; color: #fff; text-align: center; margin-top: 40px; }